@font-face {
  font-family: 'MyHeroFont';
  src: url('./assets/fonts/MyHeroFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'MyHeroFont', sans-serif;

}


